:root{
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-greyish-blue: hsl(219, 9%, 45%);
    --greyish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --font-family: 'Kumbh Sans',
        sans-serif;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
}

header{
    display: flex;
    padding: 1rem 1rem;
    justify-content: space-between;
}

.sidebar-toggler{
    margin-right: 1rem;
}

.navlinks{
    display: none;
}

.hd-first{
    display: flex;
    align-items: center;
}

.nav-buttons{
    display: flex;
    align-items: center;
}

.nav-buttons .cart-btn{
    margin-right: 1rem;
}

.nav-buttons .cart-btn i{
    font-size: 1.2rem;
}


.nav-buttons .profile-pic img{
    width: 2rem;
}

#sidebar-menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    background-color: wheat;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform .5s ease;
}

.close-btn{
    padding: 1.5rem;
}

.close-btn i{
    font-size: 1.2rem;
}

.sidebar-links{
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    gap: 15px;
}

.sidebar-links a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: 700;
}